@model IEnumerable<DungeonsAndDragons_Data.ArmourItem>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsMagic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Actor.ActorId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArmourType.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsMagic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Actor.ActorId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArmourType.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ArmourItemId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ArmourItemId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ArmourItemId })
        </td>
    </tr>
}

</table>
