@using System.Security.Cryptography.X509Certificates
@model DungeonsAndDragons.Models.PlayerCharacterModel

@using (Html.BeginForm("Create", "Players", FormMethod.Post, new { @class = "" }))
{
    @*if (!Html.ViewData.ModelState.IsValid)
    {
        @Html.ValidationSummary("", new {@class = "alert alert-warning"})
    }*@

    <div class="form-group">
        @Html.LabelFor(x => x.Name)
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Name, null, new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.ClassId)
        @Html.EnumDropDownListFor(x => x.ClassId, new { @class="form-control" })
        @Html.ValidationMessageFor(x => x.ClassId, null, new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => Model.RaceId)
        @Html.EnumDropDownListFor(x => x.RaceId, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.RaceId, null, new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Age)
        @Html.TextBoxFor(x => x.Age, new { @class = "form-control", type = "number" })
        @Html.ValidationMessageFor(x => x.Age, null, new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.GenderId)
        @Html.EnumDropDownListFor(x => x.GenderId, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.GenderId, null, new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Height)
        @Html.TextBoxFor(x => x.Height, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Height, null, new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.WeightPounds)
        @Html.TextBoxFor(x => x.WeightPounds, new { @class = "form-control", type = "number" })
        @Html.ValidationMessageFor(x => x.WeightPounds, null, new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.AlignmentId)
        @Html.EnumDropDownListFor(x => x.AlignmentId, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.AlignmentId, null, new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.DeityId)
        @Html.EnumDropDownListFor(x => x.DeityId, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.DeityId, null, new { @class = "text-danger" })
    </div>
}