<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - D&amp;D Manager</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("D&D Manager", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Games", "Index", "Games")</li>
                    <li>@Html.ActionLink("Players", "Index", "Players")</li>
                    <li>@Html.ActionLink("Map Areas", "Index", "MapAreas")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Drew Morgan</p>
        </footer>
    </div>
    <div id="popup-container" class="modal fade">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary btn-ok">OK</button>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script>
        $(document).ready(function () {
            $.ajaxSetup({
                headers: { 'X-Requested-With': ' XMLHttpRequest' }
            });

            $('#popup-container').hide();
            $('#popup-container').on('show.bs.modal', function (e) {
                $(this).find('.btn-ok').click(function(e) {
                    $('form').submit();
                });
            });
            $('.popup').click(function (e) {
                var modalTitle = $(this).attr('title');
                e.preventDefault();
                $.ajax({
                    url: $(this).attr('data-href'),
                    cache: false
                })
                .done(function (html) {
                    $('.modal-title').html(modalTitle);
                    $('.modal-body').html(html);
                    $('#popup-container').modal('show');
                });
            });
        });
    </script>

    @RenderSection("scripts", required: false)

</body>
</html>
