@model IEnumerable<DungeonsAndDragons_Data.Power>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TextDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TargetType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinNumTargets)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxNumTargets)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AttackAbilityComplement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AttackDefenseComplement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HitAbilityComplement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HasSecondaryAttack)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsConjuration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsZone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ability.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ability1.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActionType.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AttackType.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DamageType.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Defens.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DurationUnit.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EffectType.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PowerUsage.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prerequisite.PrerequisiteId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TextDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TargetType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinNumTargets)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxNumTargets)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AttackAbilityComplement)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AttackDefenseComplement)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HitAbilityComplement)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HasSecondaryAttack)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsConjuration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsZone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ability.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ability1.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActionType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AttackType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DamageType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Defens.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DurationUnit.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EffectType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PowerUsage.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prerequisite.PrerequisiteId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PowerId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PowerId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PowerId })
        </td>
    </tr>
}

</table>
